.header_top {
    height: 40px;
}

.header_top img {
    width: 80px;
}

.pad { 
    justify-content: space-between;
}

.bi-chevron-down {
    font-size: 10px;
    font-weight:bolder;
}

.m_rad {
    border-radius: 20px;
}
.header_top .row  img {
    width: 80px;
}

#jumbo .row #retu {
    width: 350px;
}

.micro {
    font-size: 7px;
    position: relative;
    bottom: 5px;
}
.mine {
    font-size: 13px;
}

#jumbo,
#mega {
    height:600px;
    background-size: cover;
    background-position: center;
}
#jumbo {
    background-image: url(../img/jumbo-bg.png);
    /* margin-top: 75px */
}
#mega {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.props {
    border-bottom: 2px solid white;
    opacity: 70%;
}    
#megatron {
    background-color: #1f1f1f;
}

#mega .row #taki{
    width: 300px;
}
.break {
    font-size: 40px;
}

.boxy,
.boxy_ {
    border-radius: 15px;
}
.boxy {
    border: 2px solid rgb(255, 255, 255);
}
.boxy_ {
    border: 2px solid  #1f1f1f;;
}
.boxy img,
.boxy_ img {
    padding: 2px;
    border-radius:15px;    
}

#now {
    background-color: #161c3b;
}

#plus {
    background-color: #bebcbb;
}

footer{
    /* height: 900px; */
    background-color: #00439c;
    margin-top: 50px;
}

.globe {
    width: 18px;
}

footer ul {
    list-style: none;
}


/* hover */
.boxy:hover {
    border: 2px solid rgb(33, 103, 255);
}

.boxy_:hover {
    border: 2px solid rgb(33, 103, 255);
}

.props:hover {
    border-bottom: 2px solid rgb(50, 122, 255);
    opacity:100% ;
} 

.boxy:hover,
.props:hover {
    transform: translateY(-10px);
}

.lolo {
    background-color: #dc3545;
    padding:5px 8px ;
    border: 2px solid #dc3545;
    border-radius:20px ;
    color: white;
}

.butt{
    padding: 9px 2px;
}

.lolo:hover {
    border: 2px solid black;
    color: black;
}